@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Montserrat:wght@200&family=Open+Sans:wght@400;600&family=Outfit:wght@400;700&family=Overpass:wght@700&family=Roboto:wght@400;700&display=swap');
.contact {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.cont-me {
  margin: auto;
  width: 35%;
  text-align: center;
  font-size: x-large;
}
.details {
  gap: 20%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  
}
.details input {
  width: 60%;
  color: black;
  font-family: Roboto;
  padding: 0.3rem;
  border-radius: 7px;
}
.proj-details {
  padding: 0 0 120px 0;
  border-radius: 7px;
  color: black;
}
.submit-btn {
  width: 20%;
}
.submit-btn:hover {
  cursor: pointer;
}
.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}
.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}
.form-control invaild button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
.animate-spin {
  animation-iteration-count: 1;
}
@media screen and (max-width: 400px) {
  .cont-me {
    font-size: large;
  }
}
