@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Montserrat:wght@200&family=Open+Sans:wght@400;600&family=Outfit:wght@400;700&family=Overpass:wght@700&family=Roboto:wght@400;700&display=swap');

.heading{
    text-align: center;
}
.projects-main{
    display: flex;
    margin-top: 1em;
    margin-bottom: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

