.logos{
    display: flex;
    width: 85%;
    justify-content: center;
    gap: 2rem;
    padding: 1.8%;
    margin-top: 5%;
}
.log{
    width: 30px;
}
.log:hover{
    cursor: pointer;
}
.link-about:hover{
    color: azure;
}